
.girds{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.card{
    overflow: hidden;
    cursor: pointer;
}
.card .girds img{
    opacity: 0.7;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
    transition: transform 0.1s;
}
.card .girds:hover img{
    transform: scale(1.05);
    
}
.play_card{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.play_card:hover{
    opacity: 0;
    animation : example 1s both;
}
@keyframes example{
    0%   {opacity: 0; }
    100% {opacity: 1; background: rgb(8 8 8 / 35%);}
}
.play_card .info{
    padding: 150px 0;
}
.play_card .info .fa{
    padding: 0px 30px;
    font-size: 25px;
}
.play_card .info .fa-play{
    padding: 7px;
    border-radius: 50px;
    border: 1px solid #fff;
}
.play_card .info .fa:hover{
    color: darkgray ;
}
.play_card .info .fa-play:hover{
    border: 1px solid darkgray;
    color: #fff;
}

